@model welcomeApp.Models.LinkItem


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Employee?.Name, добро пожаловать в нашу компанию!</title>
    <link rel="stylesheet" href="/css/site.css">
    <script src="https://api-maps.yandex.ru/v3/?apikey=800741d9-0257-4522-a255-aa6608f4fe44&lang=ru_RU"></script>
    <script src="/js/script.js"></script>
</head>
<body>
    
    <header>
        <div class="logos-container">
            <div class="logo-container-left">
                <img class="logo-right" src="/images/logo1.png" alt="Логотип Леасофт">
            </div>
            <div class="logo-container-right">
                <img class="logo-left" src="/images/logo2.png" alt="Логотип Европлан">
            </div>
        </div>
        <div style="clear: both;"></div>
        <div>
            <h1>Привет, @Model.Employee?.Name! 👋</h1>
            <p>Добро пожаловать в нашу компанию!</p>
            <p>Мы рады приветствовать тебя в нашей команде. Надеемся, что твое путешествие вместе с нами будет вдохновляющим и плодотворным!</p>
        </div>

    </header>
    <section id="mentor">
        <h2>Полезные контакты</h2>
        <div class="contacts-container">
            <div class="contact mentor">
                <h4>Твой наставник:</h4>
                <p><strong>Имя:</strong> @Model.Mentor?.Name</p>
                <p><strong>Телефон:</strong> @Model.Mentor?.Phone</p>
                <p><strong>Мессенджер:</strong> <a href="@Model.Mentor?.MessengerLink">ссылка</a></p>
                <div style="margin-top: 10px;">
                    <p>Не стесняйся обращаться к наставнику за помощью, советом или поддержкой в любое время. Твой наставник здесь, чтобы помочь быстро адаптироваться и добиться успеха в нашей компании.</p>
                </div>
            </div>
            <div class="contact manager">
                <h4>Менеджер по персоналу:</h4>
                <p><strong>Имя:</strong> @Model.Manager?.Name</p>
                <p><strong>Телефон:</strong> @Model.Manager?.Phone</p>
                <div style="margin-top: 10px;">
                    <p>@Model.Manager?.Name встретит тебя в нашем офисе в первый рабочий день и проводит тебя на оформление документов.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="work-preparation">
        <h2>Оформление</h2>
        <p>@Model.Employee?.Name, мы будем ждать тебя для оформления документов:</p>
        <p>🗓️ <strong>Дата:</strong> @Model.WorkStart?.StartDateTime.ToString("d MMMM в H:mm") (<a href="/Link/GetCalendarFile/@Model.Guid">добавить в календарь</a>)</p>
        <!-- Изменено: Динамический вывод адреса -->
        <p>🧭 <strong>Адрес:</strong> @Model.WorkStart?.Office?.Address</p>
        <div id="office-directions">
            <h4>Как до нас добраться:</h4>
            <!-- Изменено: Динамический вывод направлений -->
            <p>@Model.WorkStart?.Office?.Direction</p>
        <div class="map-container">
            <div id="map"></div>
        </div>
        </div>
        <div class="document-checklist-container">
            <h3 id="document-checklist-title">Необходимые документы</h3>
            <div id="document-checklist">
                <ul>
                    <!-- JavaScript для чек-листа -->
                </ul>
            </div>
        </div>
    </section>

    <section id="first-day">
        <h2>Как пройдет твой первый рабочий день</h2>
        <p>Выход на новое место работы - это всегда очень волнительно, но очень интересно. Поэтому ниже мы расскажем, как примерно этот день пройдет у тебя, и что интересного в нем будет.</p>

        <div class="day-part">
            <h3>Оформление</h3>
            <img src="/images/2.webp" alt="Оформление документов">
            @if (Model.WorkStart?.Office?.IsRegional == true)
            {
                <p>Мы будем ждать тебя в офисе @Model.WorkStart?.StartDateTime.ToString("d MMMM в H:mm"). Лучше всего прийти за 10 минут. Как доберешься, п</p>
                <p>Текст, специфичный для регионального офиса...</p>
            }
            else
            {
                <p>Мы будем ждать тебя в центральном офисе @Model.WorkStart?.StartDateTime.ToString("d MMMM в H:mm"). Лучше всего прийти за 10 минут...</p>
                <p>Текст, специфичный для центрального офиса...</p>
            }
            <p>Потом за тобой спустятся и прводят на второй этаж. Там надо будет заполнить и подписать все необходимые документы. Это займет примерно час. Рядом есть кофемашина и вкусный кофе (Хотя, некоторые коллеги с этим не согласны, ну и ладно. Нам же больше достанется:).</p>
            <p>Всё это время @Model.Mentor?.Name, твой наставник, будет с тобой на связи. Как заполнишь документы, он будет ждать тебя на 6 этаже, где уже начнётся самое интересное!</p>
        </div>


        <div class="day-part">
            <div class="day-part-header">
                <h3>Встреча с наставником</h3>
                <img src="/images/4.webp" alt="Оформление документов">
            </div>
            <p>Краткое описание процесса оформления документов...</p>
            <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
        </div>

        <div class="day-part">
            <div class="day-part-header">
                <h3>Экскурсия по офису</h3>
                <img src="/images/3.webp" alt="Оформление документов">
            </div>
            <p>Краткое описание процесса оформления документов...</p>
            <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
        </div>

        <div class="day-part">
            <div class="day-part-header">
                <h3>Знакомство с компанией</h3>
                <img src="/images/1.webp" alt="Оформление документов">
            </div>
            <p>Краткое описание процесса оформления документов...</p>
            <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
        </div>

        <!-- Добавьте дополнительные разделы по аналогии -->
    </section>

    <section id="faq">
        <h2>FAQ</h2>
        <div class="faq-item">
            <h3>Как долго подписывается договор?</h3>
            <p class="answer">Договор подписывается в течение месяца. После этого тебя оповестят о том, что твой экземляр готов и его можо забирать</p>
        </div>
        <div class="faq-item">
            <h3>Как можно получить банковскую карту?</h3>
            <p class="answer">
                @if (Model.WorkStart?.Office?.IsRegional == true)
                {
                    <text>Ответ на вопрос, специфичный для регионального офиса...</text>
                }
                else
                {
                    <text>Ответ на вопрос, специфичный для центрального офиса...</text>
                }
            </p>
        </div>
        <div class="faq-item">
            <h3>Я могу работать полностью удаленно?</h3>
            <p class="answer">Да! У нас можно работать полностью удаленно с первого дня. Потреуется только приехать на подписание документов и получение техники, если она тебе нужна.</p>
        </div>
        @if (Model.WorkStart?.Office?.IsRegional == false)
        {
            <div class="faq-item">
                <h3>Гдя рядом с офисом можно вкусно пообедать?</h3>
                <p class="answer">Можно в столовой на первом этаже </p>
            </div>
        }
        <div class="faq-item">
            <h3>Когда мне будет доступен ДМС?</h3>
            <p class="answer">ДМС будет доступен после 3 мес. работы и проходения испытательного срока.</p>
        </div>
        <div class="faq-item">
            <h3>Мне выдадут технику?</h3>
            <p class="answer">Да, если тебе нужна техника, мы можем тебе её выдать. Но отдельно отмечаем, что при этом первая авториация должна быть произведена в офисе.</p>
        </div>
    </section>

    <footer>
        <button id="print-page">Распечатать страницу</button>
    </footer>
    <div class="expiration-date">Срок действия ссылки: @Model.ExpirationDate.ToString("d MMMM yyyy")</div>
</body>
</html>
