@model welcomeApp.Models.LinkItem


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать в нашу компанию!</title>
    <link rel="stylesheet" href="/css/site.css">
    <script src="https://api-maps.yandex.ru/v3/?apikey=800741d9-0257-4522-a255-aa6608f4fe44&lang=ru_RU"></script>
    <script src="/js/script.js"></script>
</head>
<body>
    
    <header>
        <div class="logo-container">
            <img src="/images/logo1.svg" alt="Логотип Европлан">
            <!-- <img src="/images/logo2.png" alt="Логотип Леасофт"> -->
        </div>
        <div>
            <h1>Привет, @Model.Employee?.Name!</h1>
            <p>Добро пожаловать в нашу компанию!</p>
            <p>Мы рады видеть вас среди нас и желаем успехов!</p>
        </div>

    </header>
    <section id="mentor">
        <h2>Твой наставник</h2>
        <p>Имя: @Model.Mentor?.Name</p>
        <p>Телефон: @Model.Mentor?.Phone</p>
        <a href="@Model.Mentor?.MessengerLink">Связаться в мессенджере</a>
    </section>

    <section id="work-preparation">
        <h2>Оформление</h2>
        <p>Мы ждем тебя на оформлении документов @Model.WorkStart?.StartDateTime. <a href="#">Добавить в календарь</a></p>
        <div id="office-directions">
            <h3>Как пройти в офис</h3>
            <div id="map"</div>
        </div>
        <div id="document-checklist">
            <h3>Документы для оформления</h3>
            <ul>
                <!-- JavaScript для чек-листа -->
            </ul>
        </div>
    </section>

    <section id="first-day">
        <h2>Как пройдет твой первый рабочий день</h2>
        <ul>
            <li>Оформление</li>
            <li>Встреча с наставником</li>
            <li>Экскурсия по офису</li>
            <li>Знакомство с компанией</li>
        </ul>
    </section>

    <section id="faq">
        <h2>FAQ</h2>
        <div class="faq-item">
            <h3>Как долго подписывается договор?</h3>
            <p class="answer">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
        </div>
        <div class="faq-item">
            <h3>Как можно получить банковскую карту?</h3>
            <p class="answer">Ответ на вопрос</p>
        </div>
    </section>

    <footer>
        <button id="print-page">Распечатать страницу</button>
    </footer>
</body>
</html>
