@model welcomeApp.Models.LinkItem


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Employee?.Name. добро пожаловать в нашу компанию!</title>
    <link rel="stylesheet" href="/css/site.css">
    <script src="https://api-maps.yandex.ru/v3/?apikey=800741d9-0257-4522-a255-aa6608f4fe44&lang=ru_RU"></script>
    <script src="/js/script.js"></script>
</head>
<body>
    
    <header>
        <div class="logo-container">
            <img src="/images/logo1.svg" alt="Логотип Европлан">
            <!-- <img src="/images/logo2.png" alt="Логотип Леасофт"> -->
        </div>
        <div>
            <h1>Привет, @Model.Employee?.Name! 👋</h1>
            <p>Добро пожаловать в нашу компанию!</p>
            <p>Мы рады приветствовать тебя в нашей команде. Надеемся, что твое путешествие вместе с нами будет вдохновляющим и плодотворным!</p>
        </div>

    </header>
    <section id="mentor">
        <h2>Твой наставник</h2>
        <p><strong>Имя:</strong> @Model.Mentor?.Name</p>
        <p><strong>Телефон:</strong> @Model.Mentor?.Phone</p>
        <!-- <p><strong>Мессенджер:</strong> <a href="@Model.Mentor?.MessengerLink">ссылка</a></p> -->
        <p><strong>Мессенджер:</strong> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">ссылка</a></p> 
        <div style="margin-top: 20px;">
            <p>Не стесняйся обращаться к наставнику за помощью, советом или поддержкой в любое время. Твой наставник здесь, чтобы помочь быстро адаптироваться и добиться успеха в нашей компании.</p>
        </div>
    </section>

    <section id="work-preparation">
        <h2>Оформление</h2>
        <p>@Model.Employee?.Name, мы будем ждать тебя на оформление документов:</p>
        <p>🗓️ <strong>Дата:</strong> @Model.WorkStart?.StartDateTime.ToString("d MMMM в H:mm") (<a href="/Link/GetCalendarFile/@Model.Guid">добавить в календарь</a>)</p>
        <p>🧭 <strong>Адрес:</strong> ул. Коровий Вал, д. 5., Москва</p>
        <div id="office-directions">
            <h4>Как до нас добраться:</h3>
            <p>От м. Добрынинская (один выход) повернуть налево, по улице Коровий Вал идти до бизнес-центра "Оазис". Далее повернуть налево на 1-й Добрынинский переулок</p>
        <div class="map-container">
            <div id="map"></div>
        </div>
        </div>
        <div class="document-checklist-container">
            <h3 id="document-checklist-title">Необходимые документы</h3>
            <div id="document-checklist">
                <ul>
                    <!-- JavaScript для чек-листа -->
                </ul>
            </div>
        </div>
    </section>

    <section id="first-day">
        <h2>Как пройдет твой первый рабочий день</h2>
        <p>Выход на новое место работы - это всегда очень волнительно, но очень интересно. Поэтому ниже мы расскажем, как примерно этот день пройдет у тебя, и что интересного в нем будет.</p>

        <div class="day-part">
            <h3>Оформление</h3>
            <img src="/images/2.webp" alt="Оформление документов">
            <p>Мы будем ждать тебя в офисе @Model.WorkStart?.StartDateTime.ToString("d MMMM в H:mm"). Лучше всего прийти за 10 миинут. На первом этаже на ресепшн тебя встретит дружелюбная девушка и выдаст тебе временный пропуск. Постоянныый будет готов к концу этого же дня.</p>
            <p>Поднимайся на второй этаж. Там надо будет заплонить и подписать все необходимые документы. Это займет примерно час. Рядом есть кофемашина и вкусный кофе (Хотя, некоторые коллеги с этим не согласны, ну и ладно. Нам же больше достанется:).</p>
            <p>Всё это время @Model.Mentor?.Name, твой наставник, будет с тобой на связи. Как заполнишь документы, он будет ждать тебя на 6 этаже, где уже начнётся самое интересное!</p>
        </div>

        <div class="day-part">
            <div class="day-part-header">
                <h3>Встреча с наставником</h3>
                <img src="/images/4.webp" alt="Оформление документов">
            </div>
            <p>Краткое описание процесса оформления документов...</p>
            <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
        </div>

        <div class="day-part">
            <div class="day-part-header">
                <h3>Экскурсия по офису</h3>
                <img src="/images/3.webp" alt="Оформление документов">
            </div>
            <p>Краткое описание процесса оформления документов...</p>
            <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
        </div>

        <div class="day-part">
            <div class="day-part-header">
                <h3>Знакомство с компанией</h3>
                <img src="/images/1.webp" alt="Оформление документов">
            </div>
            <p>Краткое описание процесса оформления документов...</p>
            <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
        </div>

        <!-- Добавьте дополнительные разделы по аналогии -->
    </section>

    <section id="faq">
        <h2>FAQ</h2>
        <div class="faq-item">
            <h3>Как долго подписывается договор?</h3>
            <p class="answer">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.</p>
        </div>
        <div class="faq-item">
            <h3>Как можно получить банковскую карту?</h3>
            <p class="answer">Ответ на вопрос</p>
        </div>
        <div class="faq-item">
            <h3>Я могу работать полностью удаленно?</h3>
            <p class="answer">Ответ на вопрос</p>
        </div>
        <div class="faq-item">
            <h3>Гдя рядом с офисом можно вкусно пообедать?</h3>
            <p class="answer">Ответ на вопрос</p>
        </div>
        <div class="faq-item">
            <h3>?</h3>
            <p class="answer">Ответ на вопрос</p>
        </div>
    </section>

    <footer>
        <button id="print-page">Распечатать страницу</button>
    </footer>
</body>
</html>
